/* el selector de clase es con punto */
.jumbotron {
    background-color: #2e3950;
    color: white;
    margin-top: 50px;
}

/* al selector de tag no se lo pone nada */
footer {
    padding: 10px 10px 0 10px;
    background-color: #2e3950;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.card-ims {
    flex: 1 200px;
    margin-top: 10px;
    max-width: 250px
}

.btn-card-ims {
    width: 100%;
    background-color: #78909c;
    border-color: #78909c;
    border-radius: 0px;
}

footer a {
    color: #67a6c4;
}

.footer-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}