//las variables se definen con @
@blueish: #afe0a2;
@yelow: yellow;
@red: red;
@green: green;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

/* el selector de clase es con punto */
.jumbotron {
  background-color: @blueish;
  color: white;
  .margenes(50px, 0px);
}

/* al selector de tag no se lo pone nada */
footer {
  padding: 10px 10px 0 10px;
  background-color: @blueish;
  color: white;
  .margenes(10px, 0px);
}

.card-ims {
  flex: 1 200px;
  max-width: 250px;
  .margenes(10px, 0px);
}

.btn-card-ims {
  width: 100%;
  background-color: #78909c;
  border-color: #78909c;
  border-radius: 0px; }

footer a {
  color: #67a6c4; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.tab-content {
    padding-top: 10px;
}